.container{
    background-color: #83c8d8;
    width: 160px;
    height: 290px;
    padding: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.infos button{
    color: #fff;
    background: none ;
    border: none;
    cursor: pointer;
}
.climate-widget{
    display: flex;
    flex-direction: column;

    text-align: center;
}
.daily-temperature-widget div{
    display: flex;
    justify-content: space-between;

}