.container{
    width: 160px;
    height: 290px;
    color: #fff;
    border: 1px solid gray;
}
.content{
    width: 160px;
    height: 290px;
    padding: 10px;  
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.climate-widget{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.climate-widget .icon{
    color: #ffd171;
    padding-bottom: 10px;
}
.climate-widget .icon .largeIcon{
    font-size: 70px;
}
.climate-widget .temperature{
    font-size: 30px;
}
.climate-widget .climate{
    font-size: 14px;
}

.dateCard{
    border: 1px solid red;
    color: white;
}
