.container-home{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content-home{
  background-color: #1ebd9d;
  width: 1000px;
  height: 550px;
  

  display: flex;
}

.tempo-hoje{
  background-color: #19a88a;
  box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.2);
  flex: 1;
  z-index: 100;
}

.tempo-prev{
  background-color: #1ebd9d;
  flex: 2;
}

.logo{
  text-align: center;
  color: white;
  display: block;
  margin-top: 20px;
}
.logo img{
  width: 60px;
}
.large-icon{
  font-size: 100px;
}

.infos{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.infos .temp-icon{
  margin-bottom: 10px;
}
.infos .weather-description{
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.infos .temp-atual{
  font-size: 50px;
  font-weight: bold;
 
}
.infos .search-city{
  margin: 20px 0;
}

form{
  background-color: #ffff;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
}

.search-city input{
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
}
.search-city button .large-search{
  font-size: 20px;
  color: #000;
}

.infos .name-city{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.infos .date{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}