*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #40adc1;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
  height
}